@import "vars.scss";

#home{
  height: 92vh;
  background-color: $blinxonRed;
  background-image: url("../img/blinxonBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .blinxonImageTitle{
    max-width: 60%;
  }
}

@media screen and (max-width: 992px) {
  #home{
    background-image: url("../img/blinxonBackgroundMobile.png");
  }
}
