@import "vars.scss";

.navbarBody{
  width: 100%;
  height: 6vh;
  background-color: $blinxonRed !important;
  border-bottom: 2px solid $blinxonBeige;

  .nav-link{
    color: $white;
    font-family: "Osaka Chips";
    font-size: 1.5em;
  }

  .navbarLogo{
    max-height: 5vh;
  }

  .dropdown-item{
    color: $black;
  }

  .dropdown-menu{
    .nav-link{
      color: $black;
    }
  }
}

.countdown-container{
  color: $white;
}

.timer-text{
  font-family: "Osaka Chips";
  font-size: 1.5em;
}

.timer-span{
  font-size: .8em;
}
