@import "vars.scss";

#home{
  height: 92vh;
  background-color: $blinxonRed;
  background-image: url("../img/blinxonBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .blinxonImageTitle{
    max-width: 60%;
  }
}

#equipage, #raidn, #nousaider, #enfantsdudesert{
  height: 92vh;
  color: $black;
}

.logo{
  max-width: 20vw;
}

@media screen and (max-width: 992px) {
  #home{
    background-image: url("../img/blinxonBackgroundMobile.png");
  }
  #equipage, #raid, #nousaider, #enfantsdudesert{
    height: auto;
  }

  .justify{
    text-align: justify;
  }

  .logo{
    max-width: 50vw;
  }
}
